.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }
  .setting{
    .settingHeader{
      .logContainer{
        form{
          label{
            color: #999;
          }
        }
      }
    }
  }
  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .widget{
    .left{
      .counter{
        color: rgb(160, 160, 160)
      }
    }
  }

  .sidebar {
    background-color: #181818;
    border-color: #1d1d1d;

    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .table {
    .datagrid {
      color: gray;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: none;
      }
    }
  }

  .datatable {
    .datagrid {
      color: gray;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus 
      {
        color: gray;
        border: none;
      }
    }
  }

  input{
      background-color: transparent;
  }
}
